    <div class="container-fluid h-100">  
        <div class="row h-100">  
            <div class="col-md-4 bg-light p-4">  
                <h1>ACCOUNT SETUP</h1>  
                <img src="illustration.png" alt="Illustration" class="img-fluid rounded">  
            </div>  
            <div class="col-md-8 p-4">  
                <div class="text-right mb-4">  
                    <img src="smartads-logo.png" alt="SmartAds Logo" class="img-fluid" style="max-width: 100px;">  
                </div>  
                <div class="d-flex justify-content-between mb-4">  
                    <div class="step active bg-success text-white p-2 rounded">Business Details</div>  
                    <div class="step bg-secondary text-white p-2 rounded">Select Plan</div>  
                    <div class="step bg-secondary text-white p-2 rounded">Payment Details</div>  
                    <app-customer-details></app-customer-details>
                </div>  
            </div>  
        </div>  
    </div>  
